
<div> Welcome to your feed <%= session[:first_name]%> </div> <br>

<div> This is the user(using current.user.first_name) : <%=Current.user.first_name%> </div>

<div>
<%= link_to new_post_path do %>
  Create a new post
<% end %>
</div>


<%= button_to 'Logout', logout_path, method: :delete %>